h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(44, 192, 192, 0.548);
    color:antiquewhite;
    font-weight: 900;
    font-size: 50px;
}
ul {
    list-style:none;
    padding-right: 900px;
}
li {
    background-color: rgb(196, 120, 27);
    
}
a {
    color: beige;
    text-decoration: wavy;
    font-weight: 400;
    font-size: medium;
}